body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 240, 230);
}
.heart {
    background-color: blue;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50px;
    left: 50px;
    transform: rotate(-45deg);
}
.heart:before, .heart::after {
    content: "";
    background-color: blue;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
}
.heart:before {
    top: -15px;
    left: 0;
}
.heart::after {
    top: 0;
    left: 15px;
}